:root {
    --backgroundColor: 255, 255, 255;
    --backgroundColorOdd: 238, 238, 238;
    --topBtnColor: 221, 221, 221;
    --txtColor: 0, 0, 0;
    --accentColor: 10, 150, 150;
    --accentColor2: 10, 200, 200;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    background-color: rgb(var(--backgroundColor));
}

body {
    background-color: rgb(var(--backgroundColor));
    color: rgb(var(--txtColor));
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0px;
    overflow-x: hidden;
    font-size: 1.5rem;
}

.topLogo {
    margin-top: -4px;
    border-radius: 10px;
    height: 65px;
    aspect-ratio: 1;
}

.topPart {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;

    background: linear-gradient(to top, 
        rgba(var(--backgroundColor) , 0.2), 
        rgba(var(--backgroundColor) , 1)
    );

    backdrop-filter: blur(5px); /* Apply blur effect */
    
    z-index: 1000;
}


.topBtnContainer {
    position: fixed;
    width: 100%;
    top: 10px;
    right: 10px;
    text-align-last: right;
}

.topBtn {
    font-family: "Rubik", serif;
    background-color: transparent;
    color: rgb(var(--txtColor));
    border: 0;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 7px;
    border-radius: 10px;
}

.topBtn:hover {
    background-color: rgba(var(--topBtnColor), 0.6);
}

.page {
    margin: 0;
    padding: 50px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(var(--backgroundColor));
    box-sizing: border-box;
}

.page video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures full coverage */
}

.even {
    background-color: rgb(var(--backgroundColorOdd));
}

h1 {
    z-index: 10;
}

h2 {
    z-index: 10;
    margin-left: 10px;
}

h3 {
    z-index: 10;
    margin-left: 20px;
}

p {
    z-index: 10;
    margin-left: 30px;
}


.center {
    padding: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mainLogo {
    width: 500px;
    max-width: 90%;
    aspect-ratio: 1;
    animation: mainLogo_ami 2s ease-out forwards;
}

.mainText {
    font-weight: 800;
    font-size: 70px;
    margin-top: -40px;
    margin-left: 0px;
    animation: mainText_ami 2s ease-out forwards;
}

.mainSubText {
    font-weight: 500;
    font-size: 40px;
    margin-top: -25px;
    margin-left: 0px;
    animation: mainSubText_ami 2.5s ease-out forwards;
}

.mainBottomLeft {
    position: absolute;
    bottom: -20px;
    left: 10px;
    margin-left: 0px;
    font-weight: 300;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

@keyframes mainLogo_ami {
    0% {
        filter: blur(2px);
        transform: scale(5) translateY(50px);
        opacity: 0;
    }
    40% {
        transform: scale(1) translateY(50px);
        opacity: 1;
    }
    75% {
        transform: scale(1) translateY(50px);
        opacity: 1;
    }
    91% {
        transform: scale(1);
    }
}

@keyframes mainText_ami {
    0% {
        transform: scale(1) translateY(50px);
        opacity: 0;
    }
    40% {
        transform: scale(1) translateY(50px);
        opacity: 0;
    }
    77.5% {
        transform: scale(1) translateY(50px);
        opacity: 1;
    }
    91% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes mainSubText_ami {
    0% {
        transform: scale(1) translateY(20px);
        opacity: 0;
    }
    40% {
        transform: scale(1) translateY(20px);
        opacity: 0;
    }
    94% {
        transform: scale(1) translateY(20px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
